<body style="background-color : blue">
<h1 style="color:black;text-align:center"><strong>SELL YOUR CRAP</strong></h1>
<center><img src="http://www.goodlightscraps.com/content/welcome-images/welcome-108.gif" /></center>
<h3 style="color:black;text-align:center"><strong>We buy AND sell crap!</strong></h3>
<h1 style="color:black;text-align:center"><strong>Hey! Wanna sell some stuff? Click below!</strong></h1>
<center><a href="http://localhost:3000/my_listings"><h3 style="color:black"><strong>SELL YOUR CRAP</strong></h3></a></center>

</body>